.sass-cache/*
*.scssc
html/*
.DS_Store
assets/*
gridfieldrelationhandler/
themes/simple/
cms
gridfield-bulk-editing-tools
framework
event_calendar
division-bar
dashboard
blog
betterbuttons
userforms
timepickerfield
themes/simple
spamprotection
sortablegridfield
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_real.php
vendor/composer/installed.json
vendor/composer/installers
widgets/
division-project/
googlesitemaps/

recaptcha/

vendor/simplepie/simplepie/
