[submodule "spamprotection"]
	path = spamprotection
	url = https://github.com/silverstripe/silverstripe-spamprotection.git
[submodule "recaptcha"]
	path = recaptcha
	url = https://github.com/chillu/silverstripe-recaptcha.git
[submodule "userforms"]
	path = userforms
	url = https://github.com/silverstripe/silverstripe-userforms.git
[submodule "blog"]
	path = blog
	url = https://github.com/StudentLifeMarketingAndDesign/silverstripe-blog.git
[submodule "GridFieldBulkEditingTools"]
	path = GridFieldBulkEditingTools
	url = https://github.com/colymba/GridFieldBulkEditingTools.git
[submodule "SortableGridField"]
	path = SortableGridField
	url = https://github.com/UndefinedOffset/SortableGridField.git
[submodule "EventCalendar"]
	path = EventCalendar
	url = https://github.com/unclecheese/EventCalendar.git
[submodule "widgets"]
	path = widgets
	url = https://github.com/silverstripe/silverstripe-widgets.git
[submodule "GridFieldRelationHandler"]
	path = GridFieldRelationHandler
	url = https://github.com/simonwelsh/silverstripe-GridFieldRelationHandler.git
[submodule "division-bar"]
	path = division-bar
	url = https://github.com/StudentLifeMarketingAndDesign/division-bar.git
[submodule "cms"]
	path = cms
	url = https://github.com/silverstripe/silverstripe-cms.git
[submodule "framework"]
	path = framework
	url = https://github.com/silverstripe/sapphire.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/unclecheese/silverstripe-dashboard.git
[submodule "gridfield-betterbuttons"]
	path = gridfield-betterbuttons
	url = https://github.com/unclecheese/silverstripe-gridfield-betterbuttons.git
