/*-------------------------------------------
    Colors
-------------------------------------------*/
$link-color: #0088cc;
$yellow: #ffce39;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 15;
$base-font-size: 15px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "proxima-nova-condensed",sans-serif;
/*$body-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;*/
$body-font: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 30em; /* 480px / 16px; */
$break-medium: 48em; /* 768px / 16px; */
$break-large: 61.25em; /* 980px / 16px; */
$break-xlarge: 71.25em; /* 1140px / 16px; */