/* Base styles
========================================================================== */
html {
	font-size: $base-font-size;
}
body {
	background: #fff;
	color: #444;
	font-family: $body-font;
	font-size: $base-font-size;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

/* Division Bar
========================================================================== */
.division-topbar .wrapper {
	max-width: $break-xlarge;
}
.division-topbar .uiowa {
	width: 177px;
}


/* Layout
========================================================================== */
.container {
	margin: 0 auto;
	max-width: $break-xlarge;
	padding: 0 1em;
	position: relative;
}
.main-bg {
	@media screen and (min-width: $break-medium) {
		background: #000 url(../images/hero-image.jpg) no-repeat center top;
		border-bottom: 5px solid $yellow;
		height: 665px;
		position: absolute;
		width: 100%;
	}
}
.content-wrapper {
	background: #fff;
	min-height: 670px;
	@media screen and (min-width: $break-medium) {
		margin-left: 1em;
		margin-right: 1em;
		margin-top: 5em;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	@media screen and (min-width: $break-xlarge) {
		margin-left: auto;
		margin-right: auto;
	}
}
.main-content, .sec-content {
	@media screen and (min-width: $break-medium) {
		float: left;
	}
}
.main-content {
	@media screen and (min-width: $break-medium) {
		border-right: 1px solid #ddd;
		padding-right: 1.5em;
		width: 72%;
	}
	
}
.sec-content {
	@media screen and (min-width: $break-medium) {
		border-left: 1px solid #ddd;
		margin-left: -1px;
		width: 28%;
	}
}
.padding {padding: 3em 0;}


/* Header
========================================================================== */
.header {
	background: #fff url(../images/nav_yellow.gif) repeat-x left bottom;
	position: relative;
}
.logo {
	color: #222;
	display: block;
	font-family: "proxima-nova-condensed",sans-serif;
	@include rem(29);
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.1;
	margin: 0.5em 0 .2em 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: optimizelegibility;
	&:hover {
		text-decoration: none;
	}
	@media screen and (min-width: $break-small) {
		@include rem(41);
	}
	@media screen and (min-width: $break-xlarge) {
		@include rem(46);
		margin: 0.5em 0 .2em 0;
	}
}
.rwd-break {
	@media screen and (min-width: 630px) {
		display: none;
	}
}

/* Secondary Navigation
========================================================================== */
.section-title, #blog-sidebar h3 {
	text-transform: uppercase;
	@media screen and (min-width: $break-medium) {
		margin: 1.25em 0 1.20em 15px;
		font-size: 30px;
	}
	& a {color: #333;}
}
.sec-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sec-nav a {
	border-bottom: 1px solid #ddd;
	color: #333;
	display: block;
	padding: 10px 0 10px 5px;
	&:hover {
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}
	@media screen and (min-width: $break-medium) {
		padding-left: 15px;
	}
}
.first-level {
	border-top: 1px solid #ddd;
	margin-bottom: 1em;
}
.second-level, .third-level {
	background: #f2f2f2;
	background: rgba(0,0,0,.05);
	@include rem(14);
}
.second-level a {
	padding-left: 30px;
}

.third-level a {
	@include rem(13);
	padding-left: 50px;
}
.sec-nav .active > a {
	background: #000;
	color: #fff;
	position: relative;
	@media screen and (min-width: $break-medium) {
		&:before {
			content: '';
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 21px 0 21px 8px;
			border-color: transparent transparent transparent #fff;
			position: absolute;
			left: -1px;
			top: 50%;
			margin-top: -21px;
		}
	}
}
.tag-nav {
	border-top: 1px solid #ddd;
}
.tag-nav li a {
	position: relative;
	text-transform: capitalize;
}
.tag-nav .count {
	position: absolute;
	right: 2px;
	@include rem(13);
	letter-spacing: 2px;
	top: 50%;
	margin-top: -12px;
}


/* Breadcrumbs
========================================================================== */
.breadcrumbs {
	list-style: none;
	@include rem(12);
	margin: 0;
	padding: 13px 1em 10px 0;
	border-bottom: 1px solid #ddd;
}
.breadcrumbs li{ display: inline;}
.breadcrumbs li:after{ content: "\25B8"; display: inline-block; padding: 0 6px 0 10px;}
.breadcrumbs li:last-child:after{content: "";}


/* Modules
========================================================================== */
.mod {
	@include rem(13);
	line-height: 1.4;
	position: relative;
}
.mod li {
	margin-bottom: 1em;
}
.mod h3 {
	border-bottom: 1px solid #ddd;
	@include rem(21);
	margin-bottom: .8em;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.mod-news small {
	display: block;
}
.mod a {
	xcolor: #444;
}

/* Photo Module */
.mod.photo div {
	position: relative;
}
.mod.photo h3 {
	background: #333;
	background: rgba(0,0,0,.8);
	border: none;
	color: #fff;
	display: inline-block;
	font-weight: 300;
	margin: 0;
	padding: 10px;
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 30;
}

aside .mod {
	margin-bottom: 1em;
	@media screen and (min-width: $break-medium) {
		padding: 15px 0 0 15px;
	}
	& a {
		color: $link-color;
	}
}

/* Justify Grid */
.grid-justify {
	xfont-size: 0.1px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: justify;
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
	& .filler {
		height: 0;
		margin: 0;
	}
}
.grid-justify li {
	text-align: left;
	vertical-align: top;
	@media screen and (min-width: $break-small) {
		display: inline-block;
		width: 48%;
	}
}

/* Staff Page
========================================================================== */
.staff-title {
	clear: both;
}
.staff-list {
	font-size: 0.1px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: justify;
}
.staff-list:after { /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
	content: '';
	display: inline-block;
	width: 100%;
}
.staff-list li {
	@include rem(15);
	margin-bottom: 1em;
	vertical-align: top;
	text-align: left;
	@media screen and (min-width: $break-small) {
		display: inline-block;
		width: 48%;
	}
	@media screen and (min-width: $break-medium) {
		width: 23%;
	}
}
.staff-list .filler {
	height: 0;
	margin: 0;
}
.staff-img {
	width: 100%;
}
.staff-link {
	display: block;
	margin-bottom: .5em;
	position: relative;
}
.staff-link:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.staff-link:hover:before {
	border: 4px solid $yellow;
}
.staff-name {margin: 0;}
.staff-position {
	display: block;
}
.staff-name {
	margin: 0;
}


/* Blog
========================================================================== */
.tags {
	border-bottom: 1px solid #ddd;
	margin-top: -10px;
	padding-bottom: 12px;
	margin-bottom: 1.5em;
}
.post-link {
	margin: 1.5em 0;
}

/* Pagination */
.pagination {
	margin: 1em 0;
	text-align: center;
	& ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		& li {
			display: inline;
		}
	}
}
.pagination a {
	color: #666;
	padding: 4px 12px;
	&:hover {
		background: #eee;
	}
}
.pagination .active a {
	background: #000;
	color: #fff;
}
.pagination .disabled a:hover {
	background: #fff;
}

