$break-small: 480px;
$break-medium: 768px;
$break-large: 980px;

.division-topbar {
    background: #222;
    padding: 0;
    position: relative;
    z-index: 1000;
}
.uiowa, .division-studentlife {line-height: 0;}
.uiowa {
    display: block;
    float: left;
    @media screen and (min-width: $break-small) {
        border: none;
        float: left;
        opacity: .6;
    }
    &:hover {
        opacity: 1;
    }
}

.division-studentlife {
    float: right;
    @media screen and (min-width: $break-small) {
        display: block;
        float: right;
        opacity: .8;
        text-decoration: none;
        &:after {
            content: '';
            display: inline-block;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: #777 transparent transparent transparent;
            text-decoration: none;
        }
        &:hover {
            opacity: 1;
        }   
    }
}
.division-studentlife.active:after {
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #777 transparent;
}


/* Search
========================================================================== */
.search-toggle {
    display: block;
    float: right;
    font-size: 0;
}
.search-toggle:before {
    color: #eee;
    content: '🔍'; /* '\1f50d' */
    font-family: 'search';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.division-search {
    display: none;
    position: relative;
    @media screen and (min-width: $break-small) {
        border: none;
        display: block;
        float: right;
        margin: 0 1em 0 0;
        padding: 0;
    }
}
.division-search form {
    margin: 0;
    padding: 0;
    position: relative;
}
.division-search-input {
    background: #444;
    border: 1px solid #000;
    color: #bbb;
    display: inline-block;
    font-size: 13px;
    font-family: arial, verdana, sans-serif;
    line-height: normal;
    padding: 8px 24px 8px 8px;
    position: relative;
    vertical-align: middle;
    -webkit-border-radius: 14px;
       -moz-border-radius: 14px;
            border-radius: 14px;
    -webkit-box-shadow: 0 0 9px #121212 inset;
       -moz-box-shadow: 0 0 9px #121212 inset;
            box-shadow: 0 0 9px #121212 inset;
    width: 100%;
    -webkit-transition: width 0.2s ease, background-color 0.2s ease;
    &:focus {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        outline: none;
        color: #222;
        text-shadow: none;
        background-color: #fff !important;
    }
    @media screen and (min-width: $break-small) {
        padding: 4px 24px 4px 8px;
        width: 120px;
        &:focus {
            width: 180px;
        }
    }
}
.division-search-btn {
    display: none;
}

/* Directory
========================================================================== */
.division-directory {
    color: #ddd;
    display: none;
    font-size: 11px;
}
.division-directory .row-fluid {
    padding: 1em 0;
}
.division-directory ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.division-directory li a {
    border-left: 1px solid #555;
    color: #ddd;
    display: block;
    padding: 2px 0 2px 10px;
}
.division-directory li a:hover {
    border-left-color: #ffce39;
}
.division-directory .org {
    background: url(../images/dosl-logo-rev.png) no-repeat 0 0;
    display: block;
    margin-bottom: 10px;
    width: 182px;
    height: 44px;
}
.division-directory h5 {
    color: #ffce39;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0 0 8px;
    text-transform: uppercase;
}
.division-directory .email {color: #ddd;}