.division-topbar {
    background: #222;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}
.uiowa, .division-studentlife {line-height: 0;}
.uiowa {
    float: left;
    opacity: .8;
    &:hover {
        opacity: 1;
    }
}
.division-studentlife {
    float: right;
    opacity: .8;
    &:hover {
        opacity: 1;
    }
}
/* Search */
.division-search {
    margin: 0;
    padding: 0;
}
.division-search-input {
    background-color: #333;
    border: 1px solid #000;
    color: #999;
    display: inline-block;
    font-size: 13px;
    padding: 4px 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.division-search-btn {
    border: none;
    color: #222;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    -webkit-appearance: button;
    cursor: pointer;
    width: auto;
}