/* Home Highlights
========================================================================== */
.home-highlights {
	background: #f2f2f2;
}
.module {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.4);
	border-radius: 1px;
	float: left;
	line-height: 1.4;
	margin-left: 2.7624309392265194%;
	overflow: hidden;
	width: 31.491712707182323%;
	-webkit-transition: all .2s ease-out;
}
.module:first-child {
	margin-left: 0;
}
.module:hover {
	margin-top: -3px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.4);
}
.module .media {
	border-bottom: 4px solid $yellow;
}
.module .inner {
	font-size: 13px;
	padding: 1em;
}
.module h3 {
	font-size: 20px;
	margin: .3em 0 .5em;
	text-transform: uppercase;
	& a {
		color: #333;
	}
}