/* Navigation
========================================================================== */
.nav-main-wrapper {
	position: relative;
	text-align: center;
}
.nav-main {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.nav-main li {
	border-right: 1px solid #fff;
	float: left;
	&:first-child {
		border-left: 1px solid #fff;
	}
}
.nav-main a {
	color: #333;
	display: block;
	font-family: "proxima-nova-condensed",sans-serif;
	font-size: 22px;
	font-weight: 300;
	padding: .25em 1em .25em;
	text-transform: uppercase;
	&:hover {
		border-bottom-color: #222;
		text-decoration: none;
	}
}
/* Toggle Menu --------------- */
.toggle-menu {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -16px;
	padding-left: 40px;
	text-indent: -74px;
	width: 34px;
	height: 34px;
	line-height: 33px;
	padding: 0;
	color: #333;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	@media (min-width: 768px) {
        display: none;
    }
}
.toggle-menu span {
	position: absolute;
	right: 0;
	display: block;
	width: 16px;
	height: 0;
	-webkit-box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
	box-shadow: 0 10px 0 1px black, 0 16px 0 1px black, 0 22px 0 1px black;
}