/* Base styles
========================================================================== */

html,button,input,select,textarea {color: #222;}

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection { background: #b3d4fc;text-shadow: none;}

img {vertical-align: middle;height: auto;max-width: 100%;}

.clearfix:before,
.clearfix:after { content: " ";display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}


/* Custom styles
========================================================================== */

body {
	background: #fff;
	color: #444;
	font-family: $body-text;
	font-size: 100%;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

/* Layout
========================================================================== */
.container {
	margin: 0 auto;
	max-width: 980px;
	position: relative;
}


/* Header
========================================================================== */
.header {
	background: #fff url(../images/nav_yellow.gif) repeat-x left bottom;
	position: relative;
}
.logo {
	color: #222;
	display: block;
	font-family: "proxima-nova-condensed",sans-serif;
	font-size: em(36);
	font-weight: 600;
	line-height: 1.1;
	margin: 0.5em 0 .2em 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		text-decoration: none;
	}
	@media screen and (min-width: 480px) {
		font-size: em(41);
	}
}


/* Hero
========================================================================== */
.hero {
	background: #0a1a29 url(../images/hero_image.jpg) no-repeat center top;
	border-bottom: 5px solid $yellow;
	height: 730px;
}
.hero .container {height: inherit;}
.hero-text {
	position: absolute;
	left: 0;
	bottom: 4em;
	width: 70%;
}
.blocktext {
	background: rgba(0,0,0,.8);
	color: #fff;
	display: inline;
	font-size: em(39);
	font-weight: 600;
	line-height: 1.35;
	padding: 1px;
}
.hero-text ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}
.hero-text li {
	float: left;
	margin-right: 10px;
}
.hero-text li a {
	background: $yellow;
	color: #fff;
	display: block;
	font-family: $heading-text;
	font-size: em(21);
	font-weight: 600;
	letter-spacing: .05em;
	padding: 6px 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	text-transform: uppercase;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-transition: all .2s ease-out;
	&:hover {
		text-decoration: none;
		margin-top: -2px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	}
	&:after {
		content: (' \2192');
	}
}


/* Home Highlights
========================================================================== */
.home-highlights {
	background: #f2f2f2;
}
.module {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.4);
	border-radius: 1px;
	float: left;
	line-height: 1.4;
	margin-left: 2.7624309392265194%;
	overflow: hidden;
	width: 31.491712707182323%;
	-webkit-transition: all .2s ease-out;
}
.module:first-child {
	margin-left: 0;
}
.module:hover {
	margin-top: -3px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.4);
}
.module .media {
	border-bottom: 4px solid $yellow;
}
.module .inner {
	font-size: 13px;
	padding: 1em;
}
.module h3 {
	font-size: 20px;
	margin: .3em 0 .5em;
	text-transform: uppercase;
	& a {
		color: #333;
	}
}


.mod {
	font-size: rem(13);
	line-height: 1.4;
}
.mod li {
	margin-bottom: 1em;
}
.mod h3 {
	border-bottom: 1px solid #eee;
	font-size: rem(20);
	margin-bottom: 1em;
	padding-bottom: 5px;
}
.mod-news small {
	display: block;
}
.mod a {
	color: #444;
}

/* Footer
========================================================================== */
.footer {
	background: #222;
	color: #eee;
}




/* Global classes
========================================================================== */
.padding {padding: 3em 0;}
.left {float: left;}
.right {float: right;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.uppercase {text-transform: uppercase;}
img.left {margin-right: 1em;margin-bottom: 1em;}
img.right {margin-left: 1em;margin-bottom: 1em;}
.two-col {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;
	-webkit-column-gap: 1em;
	   -moz-column-gap: 1em;
	        column-gap: 1em;
}
.well {background-color: #f5f5f5;border: 1px solid #e3e3e3;min-height: 20px;padding: 19px;margin-bottom: 1em;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);}

.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px;}
.ir:before { content: "";display: block;width: 0;height: 100%;}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
.invisible { visibility: hidden;}
