@charset "UTF-8";
@import url("http://use.typekit.net/c/b3f386/proxima-nova:n4:n7,proxima-nova-condensed:n3:n6.W0V:H:2,W0Y:H:2,SCX:H:2,SCc:H:2/d?3bb2a6e53c9684ffdc9a9bf61b5b2a628b788d2543d3caa13a87032587d8208b88b5a612939cb2de51866a97057f6eb5c13d40d0801916cc3003870b955212e9285efce884daa573b41e2f045a75921aaa7fffc66dd9f50ff6d0b7ca789927a3e51c3b3a9b");
/*-------------------------------------------
   	Mixins / Config
-------------------------------------------*/
/*-------------------------------------------
    Colors
-------------------------------------------*/
/*-------------------------------------------
    Sizes
-------------------------------------------*/
/*-------------------------------------------
    Fonts
-------------------------------------------*/
/*$body-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;*/
/*-------------------------------------------
    Media Queries
-------------------------------------------*/
/* 480px / 16px; */
/* 768px / 16px; */
/* 980px / 16px; */
/* 1140px / 16px; */
/*-------------------------------------------
    Px to Em conversion
-------------------------------------------*/
/* usage: font-size: em(18) */
/*-------------------------------------------
    Px to Rem conversion
-------------------------------------------*/
/* usage
    p {
        @include font-size(13);
    }
*/
/* =============================================================================
    Vertical Gradient with solid colour back-up
    ========================================================================= */
/* Example

body {
    @include gradient($color: #F5F5F5, $start-color: #EEE, $end-color: #FFF);
}

*/
/* =============================================================================
    Transition mixin with speed and timing function
    ========================================================================= */
/* Example

a {
    @include transition(0.3s, ease-out);
}

*/
/* =============================================================================
    Border radius containing background clip
    ========================================================================= */
/* Example

div {
    @include border-radius(4px 0 0 4px);
}

*/
/* =============================================================================
    Box-shadow complete with vendor prefixes, up to 5 shadow parameters
    ========================================================================= */
/* Example

div {
    @include box-shadow(
        0 0 5px 5px rgba(0,0,0,0.25),
        inset 0 0 5px rgba(0,0,0,0.25),
    );
}

*/
/* =============================================================================
    Calculate fluid ratio for an image based on two dimensions (width/height)
    - http://goo.gl/Wl694
    ========================================================================= */
/* Example - The following will have fluid ratio from 4:1 at 800px to 2:1 at 300px.

    HTML:
    <div class="column">
        <figure class="fixedratio"></figure>
    </div>

    CSS:
    .column {
        max-width: 800px;
    }
    .fixedratio {
        @include fluid-ratio(800px 200px, 300px 150px);
        background-image: url(/path/to/file/);
    }

*/
/*-------------------------------------------
   	Fonts
-------------------------------------------*/
@font-face {
  font-family: 'search';
  src: url("../font/search.eot?43632120");
  src: url("../font/search.eot?43632120#iefix") format("embedded-opentype"), url("../font/search.woff?43632120") format("woff"), url("../font/search.ttf?43632120") format("truetype"), url("../font/search.svg?43632120#search") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'search';
    src: url('../font/search.svg?43632120#search') format('svg');
  }
}
*/
/* line 21, ../scss/imports/_font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'search';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
}

/* search */
/* line 38, ../scss/imports/_font.scss */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
/* line 39, ../scss/imports/_font.scss */
.icon-facebook:before {
  content: '\f09a';
}

/* '' */
/* line 40, ../scss/imports/_font.scss */
.icon-menu:before {
  content: '\f0c9';
}

/* '' */
/* line 41, ../scss/imports/_font.scss */
.icon-search:before {
  content: '🔍';
}

/* '\1f50d' */
/*-----------------------------------------------------
   	Using SilverStripe .typography class for CMS editor
------------------------------------------------------*/
/* line 19, ../scss/editor.scss */
.typography {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  /* /scss/imports/typography.scss
  ========================================================================== */
  /* Quotes
  ----------------------------------------------------*/
}
/* line 3, ../scss/imports/_typography.scss */
.typography a {
  color: #0088cc;
  outline: none;
  text-decoration: none;
}
/* line 4, ../scss/imports/_typography.scss */
.typography a:hover {
  text-decoration: underline;
}
/* line 5, ../scss/imports/_typography.scss */
.typography a:active {
  color: #0088cc;
}
/* line 6, ../scss/imports/_typography.scss */
.typography a:focus {
  outline: thin dotted;
}
/* line 8, ../scss/imports/_typography.scss */
.typography p, .typography pre, .typography blockquote, .typography ul, .typography ol, .typography dl, .typography figure, .typography table, .typography fieldset {
  margin: 0.6667em 0;
}
/* line 11, ../scss/imports/_typography.scss */
.typography small {
  font-size: 85%;
}
/* line 13, ../scss/imports/_typography.scss */
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #333;
  font-family: "proxima-nova-condensed", sans-serif;
  margin: 1em 0 0.5em;
  letter-spacing: 1px;
  line-height: 1.1;
  font-weight: 600;
  text-rendering: optimizelegibility;
}
/* line 22, ../scss/imports/_typography.scss */
.typography h1, .typography .h1 {
  font-size: 45px;
  font-size: 3rem;
  margin: .75em 0 .5em;
  text-transform: uppercase;
  border-bottom: 5px solid #333;
  padding-bottom: 10px;
}
/* line 29, ../scss/imports/_typography.scss */
.typography h2, .typography .h2 {
  font-size: 33px;
  font-size: 2.2rem;
}
/* line 32, ../scss/imports/_typography.scss */
.typography h3, .typography .h3 {
  font-size: 26px;
  font-size: 1.73333rem;
}
/* line 35, ../scss/imports/_typography.scss */
.typography h4, .typography .h4 {
  font-size: 20px;
  font-size: 1.33333rem;
}
/* line 38, ../scss/imports/_typography.scss */
.typography h5, .typography .h5 {
  font-size: 17px;
  font-size: 1.13333rem;
}
/* line 41, ../scss/imports/_typography.scss */
.typography h6, .typography .h6 {
  font-size: 16px;
  font-size: 1.06667rem;
}
/* line 48, ../scss/imports/_typography.scss */
.typography h1 + h2,
.typography h2 + h3,
.typography h3 + h4,
.typography h4 + h5,
.typography h5 + h6 {
  margin-top: 0;
}
/* line 50, ../scss/imports/_typography.scss */
.typography h1 + p, .typography .lede {
  font-size: 18px;
  font-size: 1.2rem;
}
/* line 54, ../scss/imports/_typography.scss */
.typography ul, .typography ol {
  padding: 0;
  margin-left: 24px;
}
/* line 58, ../scss/imports/_typography.scss */
.typography ul ul, .typography ul ol, .typography ol ol, .typography ol ul {
  margin-bottom: 0;
}
/* line 61, ../scss/imports/_typography.scss */
.typography ul.unstyled, .typography ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 66, ../scss/imports/_typography.scss */
.typography dt {
  font-weight: bold;
}
/* line 69, ../scss/imports/_typography.scss */
.typography dd {
  margin-left: 1em;
}
/* line 72, ../scss/imports/_typography.scss */
.typography code, .typography pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.75em;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 81, ../scss/imports/_typography.scss */
.typography code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
/* line 87, ../scss/imports/_typography.scss */
.typography hr {
  clear: both;
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
/* line 97, ../scss/imports/_typography.scss */
.typography blockquote {
  padding-left: 1em;
  border-left: 5px solid #eee;
}
/* line 101, ../scss/imports/_typography.scss */
.typography blockquote p {
  margin-bottom: 0;
  line-height: 1.5625em;
}
/* line 105, ../scss/imports/_typography.scss */
.typography blockquote small {
  display: block;
  line-height: 20px;
  color: #999;
}
/* line 110, ../scss/imports/_typography.scss */
.typography blockquote small:before {
  content: '\2014 \00A0';
}
/* line 113, ../scss/imports/_typography.scss */
.typography blockquote.pull-right {
  float: right;
  margin-left: 1em;
  padding-right: 1em;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
}
/* line 122, ../scss/imports/_typography.scss */
.typography blockquote.pull-right p,
.typography blockquote.pull-right small {
  text-align: right;
}
/* line 125, ../scss/imports/_typography.scss */
.typography blockquote.pull-right small:before {
  content: '';
}
/* line 128, ../scss/imports/_typography.scss */
.typography blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
/* line 134, ../scss/imports/_typography.scss */
.typography q:before,
.typography q:after,
.typography blockquote:before,
.typography blockquote:after {
  content: "";
}
