/* Home Hero
========================================================================== */
.hero {
	background: #0a1a29 url(../images/hero_image.jpg) no-repeat center top;
	xborder-bottom: 5px solid $yellow;
	height: 660px;
}
.hero .container {height: inherit;}
.hero-text {
	position: absolute;
	left: 0;
	bottom: 4em;
	width: 70%;
}
.blocktext {
	background: rgba(0,0,0,.8);
	color: #fff;
	display: inline;
	@include rem(39);
	font-weight: 600;
	line-height: 1.35;
	padding: 1px;
}
.hero-text ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}
.hero-text li {
	float: left;
	margin-right: 10px;
}
.hero-text li a {
	background: $yellow;
	color: #fff;
	display: block;
	font-family: $heading-font;
	@include rem(21);
	font-weight: 600;
	letter-spacing: .05em;
	padding: 6px 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	text-transform: uppercase;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-transition: all .2s ease-out;
	&:hover {
		text-decoration: none;
		margin-top: -2px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	}
	&:after {
		content: (' \2192');
	}
}

/* Home Highlights
========================================================================== */
.home-highlights {
	background: #f2f2f2;
}
.module {
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,.4);
	box-shadow: 0 1px 1px rgba(0,0,0,.4);
	border-radius: 2px;
	margin-bottom: 1em;
	min-height: 305px;
	@media screen and (min-width: $break-small) {
		float: left;
		margin-left: 2.7624309392265194%;
		margin-bottom: 0;
		overflow: hidden;
		width: 31.491712707182323%;
		-webkit-transition: all .2s ease-out;
		-moz-transition: all .2s ease-out;
		transition: all .2s ease-out;
		&:hover {
			margin-top: -3px;
			box-shadow: 0 3px 3px 0 rgba(0,0,0,.4);
		}
	}
}
.module:first-child {
	margin-left: 0;
}
.module .media {
	border-bottom: 4px solid $yellow;
}
.module .media img, .module .media object, .module .media embed {
	width: 100%;
}
.module .inner {
	font-size: 13px;
	padding: 1em;
}
.module h3 {
	font-size: 20px;
	margin: .3em 0 .5em;
	text-transform: uppercase;
	& a {
		color: #333;
	}
}